* {
	box-sizing: border-box;
}

.space{
    padding: .3125rem;
}

body {
	margin: 0;
	--color-text: #fff;
    --color-gr-1: #ffbd2e;
    --color-gr-2: #0f5e8f;
    --color-bg: #272f2e;
    --color-link: #75aaca;
	--color-link-hover: #dbb975;

	color: var(--color-text);
	background-color: var(--color-bg);
	/* font-family: 'Diphylleia', serif;
    font-family: 'Song Myung', serif; */
    font-family: 'Roboto Condensed', sans-serif;
}

.intro__text__font-1 {
    font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

.content__footer--text--ko3 {
    font-family: 'Diphylleia', serif;
}

.home {
	text-align: center;
	display: flex;
    gap: 1rem;
    margin:0rem;
    justify-content: center;
    text-align: center;
	transition: opacity 0.4s;
}

.home:hover {
	opacity: 0.5;
}

img {
    object-fit: cover;
    border-radius: 20px;
    aspect-ratio: 16/9;
    padding-top: 4px;
    max-width: 70%;
    height: auto;
    margin-inline: auto;
    padding-inline: auto;
	transition: opacity 0.4s;
	transition: transform 0.3s ease;
	opacity: 0.6;
}

img:hover {
	opacity:1;
	transform: scale(1.09);
}

a {
	text-decoration: none;
	color: var(--color-link);
}

a:hover {
	color: var(--color-link-hover);
}



.content {
    padding: 2rem;
}

.content__img {
    text-align: center;
}

.content__text {
	margin-inline: auto;
	white-space: normal;
	word-spacing: 1.5px;
	text-align: justify;
	overflow-wrap: normal;
	word-break: keep-all;
	
	

	font-family: 'Diphylleia', serif;
    font-size: 3rem;
	background-color: var(--color-text);
	background-image: linear-gradient(45deg, var(--color-gr-1), var(--color-gr-2));
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	line-height:1.5;
	max-width: 75rem;
	
}

.content__footer {
    color: var(--color-link);
    margin-inline: auto;
    padding: 2rem 2rem 2rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	font-size: 1.5rem;
}

/* CSS 애니메이션 효과 정의 */
@keyframes slide-in {
	0% {
	  transform: translateX(-100%);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0);
	  opacity: 1;
	}
  }
  /* 텍스트에 애니메이션 효과 적용 */
  .content__text {
	animation: slide-in 1.5s ease-out;
  }

